<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video streaming</title>
    <style>.container{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom right, #003366 0%, #0000ff 100%);
        background-color: #E2D8F8;
        color: white;
        text-align: center;
}
        </style>
</head>
<body class = "container">
    <h1> Demostración del modelo </h1>
    <div>
        <img src = "{{ url_for('video') }}" width="50%"/>
    </div>
    <h2>Grupo #2</h2> 
    <h3> Camila Sánchez <br>
    Juan Sánchez</h3>

    
</body>
</html>